@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: end;
  /* padding: 120px 24px 160px 24px; */
  pointer-events: none;
}

.primaryColor {
  @apply text-[#346992];
}

.primaryBg {
  @apply text-[#2e2c91];
}

.container {
  @apply w-10/12 mx-auto;
}

.main:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      rgb(203, 205, 208) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, rgb(255, 255, 255) 0px, transparent 50%),
    radial-gradient(at 52% 99%, #ffffff 0px, transparent 50%),
    radial-gradient(at 10% 29%, #efe35d 0px, transparent 50%),
    radial-gradient(at 97% 96%, rgb(255, 247, 233) 0px, transparent 50%),
    radial-gradient(at 33% 50%, rgb(255, 255, 255) 0px, transparent 50%),
    radial-gradient(at 79% 53%, rgb(228, 192, 74) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex min-h-screen flex-col pt-24;
}
